---
layout: archive
title: "实战"
permalink: /practice/focus/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if practice categories are defined -->
{% if site.practice_category %}
    {% for post in site.practice reversed %}
      {% if post.category != 'focus' %}
        {% continue %}
      {% endif %}
      {% include archive-single.html %}
    {% endfor %}
{% else %}
  {% for post in site.practice reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



