---
layout: archive
title: "论文学习"
permalink: /learning/paper/
author_profile: true
---

---

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.analysis_category %}
  {% for category in site.analysis_category  %}
    {% assign title_shown = false %}
    {% for post in site.analysis reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.analysis reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



