---
layout: archive
title: "测试开发"
permalink: /theory/test/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if test categories are defined -->
{% if site.theory_category %}
    {% for post in site.theory reversed %}
      {% if post.category != 'test' %}
        {% continue %}
      {% endif %}
      {% include archive-single.html %}
    {% endfor %}
{% else %}
  {% for post in site.theory reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



